* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 0, 0);
    /* background-image: url("./angular.png"); */
}

.box {
    width: 800px;

    height: 200px;

    margin: 0 auto;

    /* background-color: rgba(0, 0, 255, 100%) */
    /* background-color: #ffffff77; */
    background-color: hsl(186, 100%, 63%);


}



.box>img {
    width: 200px;
    height: 200px;
}

.box:nth-child(odd)>img {
    float: left;
}

.box:nth-child(even)>img {
    float: right;
}

#bg {
    background-image: url("./images.jfif");
}